/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .box {
    width:50%;
  }
  .message-wrapper {
    padding: 100px 5px 50px 5px;
    margin-top: 900px;
  }
  .message-wrapper p{
    width: 75%;
    padding-left: auto;
    padding-right: auto;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  .fas {
    display: block!important;
  }
  .box {
    width:50%;
  }
  .header-pricing h1{
    font-size: 25px;
  }
  .header-pricing p{
    font-size:15px;
    line-height: 15px;
  }
  .cash {
    font-size: 35px;
  }
  .button{
    font-size: 15px;
    padding: 9px 45px;
  }
  .message-wrapper {
    padding: 100px 5px 50px 5px;
  }

  .message-body {
    width: 75%;
    padding-left: auto;
    padding-right: auto;
  }
  .message-wrapper p{
    width: 75%;
    padding-left: auto;
    padding-right: auto;
  }

  .btn {
    margin-bottom: 5px;
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 3px;
  }
}
